// .create-account{
//     .create-button{
//        width: 274px;
// height: 56px;
// border: 1px solid #042C71;
// border-radius: 7px;
//     }
//     .create-image{
//         position: relative;
//         left: 60px;
//     }
// }
.create-account {
  width: 100%;
  height: 647px ;
  padding-top: 41px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 8px rgba(11, 106, 176, 0.3);

  @include media-breakpoint-up(sm) {
    width: 70%;
    height: 647px ;
    padding-top: 41px;
   
     }
  @include media-breakpoint-up(md) {
    width: 70%;
    height: 647px ;
    padding-top: 41px;
     }
  @include media-breakpoint-up(lg) {
    width: 50%;
    height: 647px ;
    padding-top: 41px;
     }
  @include media-breakpoint-up(xl) {
 width: 36.3%;
 height: 647px ;
 padding-top: 41px;
  }
  .card-section{
    margin-top: 72px;
  }
  .card-details {
display: flex;
align-items: center;
padding: 10px 10px 10px 10px;
gap: 10px;
height: 56px;
border: 1px solid #042C71;
border-radius: 7px;
  }
  .card-details-text{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #042C71;
padding: 10px 0px 0px 0px;
  }

  .create-button {
    width: 80%;
    border: 1px solid #042c71;
    border-radius: 7px;
  }
  .create-image {
    position: relative;
    left: 50px;
  }
  .card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #042C71;
}
.card-text{
  margin-top: 28px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
color: #042C71;
}
.account-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #042C71;
}
.sign-in-text{
  color: #CE4912;
  font-weight: 700;
}
}


