.dashboard{
    .dashboard-icons{
        padding-right: 40px;
    }
    .Dashboard-header{
        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #042C71;
    }
}